<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
******************************************************************************************
<h1>Hostname : {{ hostname.stdout }}</h1>
******************************************************************************************
<h1>CPU Info :</h1>
<p><h5>{{ cpu_info.stdout }}</h5></p>
******************************************************************************************
<h1>RAM Info :</h1>
<p> <h5>{{ free_info.stdout }}</h5></p>
******************************************************************************************
<h1>RAM Info :</h1>
<p> <h5>{{ free_info.stdout }}</h5></p>
******************************************************************************************
<h1>DISK Info :</h1>
<p> <h5>{{ disk_info.stdout }}</h5></p>
******************************************************************************************

</body>
</html>


